<html>
   <head>
      <title>ML Test</title>
      <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='test.css') }}">
      <link rel="icon" type="image/x-icon" href="../static/Assets/favicon.png">
      
     
   </head>
   <body style="text-align: center;">
      <form style="height: 30%;  top:75%; left:40%; width:20%; position:absolute; background-color:rgba(255, 255, 255, 0);" action="/runML" method = "POST" 
         enctype = "multipart/form-data" id="img_form">
         <input style="background-color: white; position: absolute; width: 80%; left: 10%; top: 0%"  type = "file" name = "file" id="file" title=" " onchange="loadFile(event)"/>
         <input style="top: 20%; width: 40%; left: 30%; position: absolute;" class="submitButton" type = "submit"/>
      </form> 
      
     
         <div style="text-align: center; position:absolute; width:80%; left:10%; top: 0%;"><h3 style="font-size: 6vh; background-image: linear-gradient(#00ffff, #dd71f3);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;">Dirtbike Brand Image Recognition</h3></div>

         <div style="text-align: center; position:absolute; width:80%; left:10%; top: 18%;"><h3 style="font-size: 4vh; color: rgb(162, 123, 234);">Possible Outcomes: Kawasaki, KTM, Honda, Suzuki, Husqvarna, Yamaha</h3></div>
      
      
      <img class="mlImage" id="output" width="200" />
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
         messages %} 

         <img class="mlImage" id="picture" src="data:image/jpeg;base64,{{ img_data }}">
         {% for category, message in messages %} 
        
         <div style="text-align: center; position:absolute; width:80%; left:10%; top: 85%;"><h3 style="font-size: 4vh; color: rgb(162, 123, 234);">Prediction: {{ message }}</h3></div>       
        
      {% endfor %} 
      {% endif %} 
      {% endwith %}

      <div id="instructions" class="center-screen">
         <br><br> <br>Welcome to my machine learning project!<br><br> To complete this, I first needed to train an image recognition model.<br><br> I did this using Tensoflow, a lightweight python ml library.<br><br> Once I trained the model, I had to implement it in a web app. For this, I used Flask.<br><br> You can upload images to the model here, and see if it works!      
          
       </div>
       <div id="meow" class="btn stuff btn-three" style="top: 82%; left: 50%; width: 10%; line-height: 50px; position: absolute;">
      Start  
   </div>
   <a href="/">
      <div id="back" class="btn btn-three" style="position: absolute; left: 91%;  line-height: 35px; height: 35; width: 110;">
       Back  
   </div> </a> 

      <script>
         if(localStorage.getItem("visited")){
            document.getElementById("instructions").remove();
           document.getElementById("meow").remove();
         }
         var image2 = document.getElementById('picture');
         var image = document.getElementById('output');
         var loadFile = function(event) {
             if(image2 != null) image2.style.visibility = "hidden";

             image.src = URL.createObjectURL(event.target.files[0]);
           
           };
           let close = document.getElementById("meow");
         if(close){
           localStorage.setItem("visited", "true");
           close.addEventListener("click", function(){
           document.getElementById("instructions").remove();
           document.getElementById("meow").remove();
           });
    
         }
   
   
   
     
   
         </script>  
   </body>
</html>